@page "/Viewer"
@using ForgeViewer.Sample.ViewModels
@using ForgeViewer.NET
@using ForgeViewer.NET.Models
@inject ViewerViewModel ViewModel
@inject Viewing Viewing

<h3>Viewer</h3>
<div class="container-fluid d-flex h-100">
    <div class="flex-fill" style="height: calc(100%);">
        <div id="demo"
             style="position: relative; height: calc(100% - 0px); width: calc(100% - 0px);">
        </div>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var opt = new Options {GetAccessToken = async () => await Task.FromResult("ok")};
        await Viewing.Initializer(opt);
    }


}